
<% @order_items.each do |order_item| %>
  <h4><%= order_item.food_item.name %></h4>
  <small><%= order_item.food_item.type %></small>
  <p><%= order_item.food_item.description %></p>
    <span> <%= order_item.quantity %> </span><span>x</span>
    <span> <%= order_item.item_price %> </span><span>=</span>
    <span> Rs. <%= order_item.item_total_price %> </span>
    
<% end %>
<br>

<%= link_to "back", orders_path%>


