<%= react_component("HederMenu",
  {
    
    user:current_user || nil ,
    locations: @locations,
    select_location:session[:location],
    cart:  current_user && current_user.cart ? current_user.cart.cart_items.count : 0
  }) 
%>
<% @order_items.each do |order_item| %>
  <h4><%= order_item.food_item.name %></h4>
  <small><%= order_item.food_item.type %></small>
  <p><%= order_item.food_item.description %></p>
    <span> <%= order_item.quantity %> </span><span>x</span>
    <span> <%= order_item.item_price %> </span><span>=</span>
    <span> Rs. <%= order_item.item_total_price %> </span>
    
<% end %>
<br>

<%= link_to "back", orders_path%>


