<div class="main_body">
  <h4>Categories</h4>
  <div class="horizontal-scroll">
    <% categories.each do |category| %>
      <div class="scroll-content"><%= category.name %></div>
    <% end %>
  </div>
  <div>
  <h4> Restaurants</h4>
  	<div class="row">
  		<% restaurants.each do |restaurant| %> 
  		<div class="col-4 ">
      <%= link_to restaurant_path(restaurant), :action => 'go' do %>
  			<b><%= restaurant.name %></b><br>
  			<%= restaurant.spaciality %><br>
  			<%= restaurant.area %>
        <% end %>
  		</div>
  		<% end %>
  	</div>
  </div>
  

</div>