<<<<<<< HEAD
<%# <%= render 'homes/header', locations: @locations %> 
<%= react_component("HederMenu",
  {
    
    user:current_user || nil ,
    locations: @locations,
    select_location:session[:location],
    cart:  current_user && current_user.cart ? current_user.cart.cart_items.count : 0
  }) 
%>
<%= react_component("home/Index",
  {
    categories: Category.pluck(:name), 
    restaurants: @restaurants
  }) 
%>
<%= render 'homes/restaurants', restaurants: @restaurants,categories: Category.all %>

=======
<%= render 'homes/header', locations: @locations %>
<div class="body_center">
  <%= render 'homes/restaurants', categories: Category.all , restaurants: @restaurants %>

</div>
>>>>>>> 4766762 (after hard revert)


