<h1>Select Addresses</h1>
 <% addresses.each do |address| %>
  	<input type="checkbox" id="address_<%= address[:id] %>" name="selected_addresses[]" value="<%= address[:id] %>">
    <label for="address_<%= address[:id] %>"><%= "#{address[:door_number]}, #{address[:street_area]}, #{address[:city]} ,#{address[:state]},#{address[:zipcode]}" %></label>
    <%= link_to 'Edit ', edit_user_address_path(current_user, address) %>            
  <% end %>
  <br>
  <%= link_to 'add new address', new_user_address_path(current_user) %>


       
    