<div>
	<% total = 0%>
	<big><%= cart_items.first.food_item.restaurant.name %> </big><br>
	<small><%= cart_items.first.food_item.restaurant.area %> </small>
	<div>
		<% cart_items.each do |cart_item| %>
				<div class="row">
					<div class="col-6"> <%= cart_item.food_item.name %></div>
					<div class="col-1">
						<%= link_to "-", decrement_cart_item_path(cart_item.food_item.id), :class => "button",data: { "turbo-method": :post }  %>
						
					</div>
					<div class="col-1"><%= cart_item.quantity %></div>
					<div class="col-1">
						<%= link_to "+", increment_cart_item_path(cart_item.food_item.id), :class => "button",data: { "turbo-method": :post }  %>
					</div>
					<div class="col-3"> Rs.<%= cart_item.quantity.to_i * cart_item.food_item.price.to_i %></div>
				</div>
				<% total = total.to_i + cart_item.quantity.to_i * cart_item.food_item.price.to_i %>
		<% end %>
	</div>
	<div>
		<h3>billing</h3>
		<div class="row">
			<div class="col-8">
				<p>Total prize </p>
			</div>
			<div class="col-4">Rs. <%= total %></div>
			
		</div>
	</div>



</div>