<%= render 'homes/header' %>

<div class="body_center" >
  <div >
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 search-field">
        <span>
          <%= form_with method: :get, id: "search-form" do |form| %>
          <%= form.text_field :query, id: "search-bar", placeholder: 'Search for restaurants and food', class: ["serarch-input-field"], autocomplete: "off" %>
          <span class="icon-magnifier"> <i class="fa fa-search search-icon"></i></span>
          <% end %>
        </span>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="search-body" id="suggestions-container">
          <div >
            <h6>Recent Searches</h6>
            <div>
              <% session[:recent_search]&.each do |restaurant_id, restaurant_data| %>
              <div  class = "suggestion"data-id="<%= restaurant_data["id"] %>" >
                <b hidden><%= restaurant_data["name"] %></b>
                <span class="icon-magnifier">  <i class="fa fa-search search-icon"></i></span>
                <span><%= restaurant_data["name"] %></span>
                <small hidden><%= restaurant_data["table_name"] %></small>
              </div>
            <% end %>
            </div>
          </div>
          <div>
            <h5>Popular Cuisines</h5>
            <div class="horizontal-scroll">
              <% @categories.each do |category| %>
                <div class="scroll-content recent_search" data-id="<%= category.id %>" >
                  <small hidden >dish</small>
                  <b hidden><%= category.name %></b>
                  <p><%= category.name %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <div class="col-1"></div>

    </div>
    
    </div>
    
  </div>

</div>