
<div>
  <button id="search-restaurants">restaurant</button>
  <button id="search-dishes">dish</button>
  <div class="row">
    <div class="col-6">
      <% if @restaurant %>
        <%= link_to (restaurant_path(@restaurant)) do%>
          <div class="row">
          <div class="col-2"></div>
            <div class="col-10">
           <b> <%= @restaurant.name%></b>
            <p> <%= @restaurant.area%></p>
            <small><%= @restaurant.spaciality %></small>
          </div>
      </div>
      <% end %>
      <%else%>
      <p>no restarents</p>
      <%end%>
    </div>
    <div>
      <div class="row">
        <% @restaurants.each do |restaurant|%>
        <div class="col-6">
          <%= link_to (restaurant_path(restaurant)) do%>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-10">
              <b> <%= restaurant.name%></b>
              <p> <%= restaurant.area%></p>
              <small><%= restaurant.spaciality %></small>
            </div>
          </div>
         <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>